:root{
  --color-pink:#fdb5b6;
  --color-white:whitesmoke;
}

#result, #shareResult{
  display: none;
  background-color: var(--color-white);
  width: 80%;
  text-align: center;
  border-radius: 20px;
}


.resultname{
  font-size: 2em;
}

.resultDesc{
  font-size: 1.2em;
  padding:30px;
  box-sizing: content-box;
}

.btnWrapper{
  display: flex;
  flex-direction: column;
}

.kakao, .statisticsBtn,.gohome{
  color:var(--color-white);
  background-color: var(--color-pink);
  font-size: 1.2em;
  border: 0px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.kakao:hover, .kakao:focus,.gohome:hover, .gohome:focus,.statisticsBtn:hover {
  background-color: var(--color-white);
  color: var(--color-pink);
}


.btn{
  color: var(--color-white);
  background-color: var(--color-pink);
  font-size: 20px;
  border-radius: 20px;
  width: 120px;

}

.btn:hover{
  background-color: #f3e2e3;
  color: var(--color-white);
}

