#result{
  display: none;
  background-color: whitesmoke;
  width: 80%;
  text-align: center;
  border-radius: 20px;
}

#shareResult{
  background-color: whitesmoke;
  width: 80%;
  text-align: center;
  border-radius: 20px;
}

.resultname{
  font-size: 2em;
}

.resultDesc{
  font-size: 1.2em;
  padding:30px;
  box-sizing: content-box;
}

.kakao{
  color: white;
  background-color: #fdb5b6;
  font-size: 1.2em;
  border: 0px;
  border-radius: 20px;
}

.kakao:hover, .kakao:focus {
  background-color: whitesmoke;
  color: #fdb5b6;
}


.btn{
  color: whitesmoke;
  background-color: #fdb5b6;
  font-size: 20px;
  border-radius: 20px;
  width: 120px;

}

.btn:hover{
  background-color: #f3e2e3;
  color: whitesmoke;
}

.gohome{
  color: white;
  background-color: pink;
  font-size: 1.2em;
  border: 0px;
  border-radius: 20px;
}

.gohome:hover, .gohome:focus {
  background-color: whitesmoke;
  color: pink;
}
